#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
}
#body {
  margin: 3em;
}
#gallery-tiles {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
#pokemon-tile {
  margin: 0.5em;
  max-width: 240px;
}
#navigation {
  width: 100%;
  display: flex;
}
#search-bar {
  flex: 60%;
  float: left;
  vertical-align: bottom;
  /* height: .5em; */
}
#filter-dropdown {
  width: 30%;
  padding-bottom: .5em;
  vertical-align: bottom;
}
#toggle-gallery-display {
  width: 5%;
}
#tile-card {
  background-color:#F5F5F5;
}
#tile-card:hover {
  background-color: #E0E0E0;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#gallery-list {
  max-width: 700px;
}

#pokemon-list {
  background-color:#F5F5F5;
  margin-bottom: .5em
}

#pokemon-list:hover {
  background-color: #E0E0E0;

}