#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
}
#title {
  text-align: left;
  margin: 1em 0;
}
#body {
  margin: 3em auto;
  width: 70%;
  max-width: 900px;
}
#gallery-tiles {
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
#pokemon-tile {
  margin: 10px;
  max-width: 260px;
}
#navigation {
  margin: 3em auto 0em;
  text-align: center;
}
#side-by-side {
  display: flex;
}
#search-bar {
  flex: 55%;
  float: left;
  margin-right: 10px;
  /* height: .5em; */
}
#filter-dropdown {
  width: 30%;
  padding-bottom: 0.5em;
  vertical-align: bottom;
}
#toggle-gallery-display {
  width: 5%;
}
#tile-header {
  padding: 0;
}
#tile-card {
  background-color: #f5f5f5;
}
#tile-card:hover {
  background-color: #e0e0e0;
}
#tile-heart {
  margin-left: auto;
  margin-right: 0;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#pokemon-list {
  background-color: #f5f5f5;
  margin-bottom: 0.5em;
  color: black;
}
#pokemon-list-link {
  display: flex;
  width: 80%;
  color: black;
}
#pokemon-list:hover {
  background-color: #e0e0e0;
}
#not-found {
  display: flex;
  width: 70%;
  margin: 3em auto;
  background-color: #e0e0e0;
  justify-content: center;
}
#not-found-tile {
  width: 50%;
}
#not-found-return-home {
  margin-left: auto;
  margin-right: 0;
}
