#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
}
#title-box {
  text-align: left;
}
#title {
  margin: 1em 0;
  position: relative;
  display: inline-block;
  font-weight: 800;
  color: black;
  overflow: hidden;
  background: linear-gradient(to right, darkgrey, darkgrey 50%, black 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}
#title:hover {
  background-position: 0 100%;
}
#body {
  width: 70%;
  max-width: 900px;
  margin: 3em auto 160px;
}
#gallery-body {
  height: 100%;
}
#gallery-tiles {
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
}
#pokemon-tile {
  margin: 10px;
  width: 30%;
  max-width: 260px;
  min-width: 150px;
}
#navigation {
  margin: 0em auto;
  text-align: center;
}
#side-by-side {
  display: flex;
  flex-wrap: wrap;
}
#nav-left {
  float: left;
  margin-right: 10px;
  flex: 2;
}
#search-bar {
  min-width: 300px;
}
#nav-right {
  display: flex;
  float: right;
  flex: 1;
}
#nav-tabs {
  margin-bottom: 15px;
}
#filter-dropdown {
  padding-bottom: 0.5em;
  vertical-align: bottom;
}
#toggle-gallery-display {
  width: 5%;
}
#tile-header {
  padding: 0;
}
#tile-card {
  background-color: #f5f5f5;
}
#tile-card:hover {
  background-color: #e0e0e0;
}
#tile-heart {
  margin-left: auto;
  margin-right: 0;
  text-align: right;
}
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
  color: black;
}

#pokemon-list {
  background-color: #f5f5f5;
  margin-bottom: 0.5em;
  color: black;
}
#pokemon-list-link {
  display: flex;
  width: 80%;
  color: black;
}
#pokemon-list-heart {
  margin-left: auto;
}
#pokemon-list:hover {
  background-color: #e0e0e0;
}
#not-found {
  display: flex;
  width: 70%;
  margin: 3em auto;
  background-color: #e0e0e0;
  justify-content: center;
}
#not-found-tile {
  width: 50%;
}
#not-found-return-home {
  margin-left: auto;
  margin-right: 0;
}

#footer {
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-between;
  padding: 0em;
  padding-top: 1em;
  position: absolute;
  bottom: 0;
  width: 100%;
}
#footer-top {
  color: black;
  width: 100%;
}
#footer-bottom {
  background-color: black;
  padding: 2em;
}
#footer-left {
  text-align: center;
  flex: 1;
}
#footer-center {
  text-align: center;
  flex: 2;
}
#footer-right {
  text-align: right;
  flex: 1;
}
#pokemon-detail {
  background-color: #e0e0e0;
  color: black;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  margin: 2em auto;
  width: 100%;
  text-align: left;
}
#pokemon-detail-left {
  flex: 1;
  padding: 2em;
  width: 100%;
}
#pokemon-detail-image {
  width: 100%;
  min-width: 150px;
  border-radius: 25px;
}
#pokemon-detail-info {
  flex: 1;
  padding: 1em;
}
#pokemon-name-sound {
  display: flex;
  text-align: center;
}
#pokemon-sound {
  margin: auto 0;
  vertical-align: middle;
}
#evolutions {
  margin-top: 3em;
  color: gray;
}
#evolution-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
}

#evolution-tile {
  margin: 20px;
  height: 80%;
}
#evolution-text {
  display: flex;
  justify-content: center;
}
#favorite-alert {
  position: fixed;
  bottom: 10%;
  right: 77px;
  z-index: 10;
}
#fall-left{
  text-align: left;
}